{% load staticfiles %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>cwbbs</title>

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/cwbbs.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome-ie7.min.css' %}">
</head>
<body>
	<script src="/static/tinymce/js/tinymce/tinymce.min.js"></script>
	<script>tinymce.init({ selector:'textarea',
		//height: 500,
		  theme: 'modern',
		  plugins: [
			'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			'searchreplace wordcount visualblocks visualchars code fullscreen',
			'insertdatetime media nonbreaking save table contextmenu directionality',
			'emoticons template paste textcolor colorpicker textpattern imagetools'
		  ],
		  toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
		  toolbar2: 'print preview media | forecolor backcolor emoticons',
		  image_advtab: true,
		  templates: [
			{ title: 'Test template 1', content: 'Test 1' },
			{ title: 'Test template 2', content: 'Test 2' }
		  ],
		  content_css: [
			'//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
			'//www.tinymce.com/css/codepen.min.css'
  ]	});</script>
	<div class="page-header" style="margin-left:50px;">
	{% if user.is_authenticated or is_authenticated  %}
		<a style="float:right;margin-right:20px;" class="btn btn-default" href="{%url 'logout'%}">注销</a>
		<a  style="float:right;margin-right:20px;" class="btn btn-default" href="{% url 'user_profile' pk=user.pk %}">{{user.username }}</a>
	{%else%}
		<a style="float:right;margin-right:20px;" class="btn btn-default"  href="{% url 'register'%}">注册</a>
		<a style="float:right;margin-right:20px;" class="btn btn-default" href="{% url 'login' %}">登录</a>
    {% endif %}		
		<a  href="/"><h1>嘉为论坛<h1></a>

	</div>
	
	<div id="index_top_bar">
	<ul>
	{%for category in categories %}
		<a href="{% url 'category'  pk=category.pk %}"><li> 
		{{category.name}}	
		</li></a>
	{% endfor %}
	</ul>
	
<!--<li>技术讨论</li><li>游戏娱乐</li><li>心灵鸡汤</li><li>其他</li>-->


	</div>
	<div id="box" style="margin-top:20px;" >
	<div id="men">


    <a style="float:right;font-size:18px;" href="{% url 'post_new'%}" >新帖</a>

	{% block content %}
	
	{% endblock%}
	</div>
	</div>
</body>
</html>