{% extends 'cwbbs/base.html' %}
{% block content %}
	<div id="men">
	{%for post in posts%}
	
		<div class="post_title">
			<a href="{% url 'post_detail' pk=post.pk %}">
			<p>{{post.title|safe}}</p>
			</a>
		</div>
		
		<div class="post_summary">
			<a href="{% url 'post_detail' pk=post.pk %}">
				<p>
				<font color="black">{{post.summary|safe}}<font>
				</p>
			</a>
		</div>

		<br>
			<pre>查看：{{post.views}}   赞：{{post.praise}}   排名：{{post.ranking}}  {{post.author}} 发布于 {{post.published_date}}</pre>
		<br>
	{%endfor%}
	</div>
{% endblock %}
